*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

a, a:hover{
  text-decoration: none !important;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


/* HEADER */

.logo #logo-text{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 30px;
  letter-spacing: -5px;
  color: #fff;
  text-decoration: none;
  font-style: italic;
  transition: all 0.3s ease-in-out;
}

.logo #logo-text:hover{
  letter-spacing: 10px;
}

.main-menu{
  padding-top: 20px;
}

.main-menu .logo img{
	width: 150px;
  filter: brightness(100);
}

.content-flex{
	display: flex;
}

.content-flex-center{
	justify-content: space-between;
	align-items: center;
}

.header{
  height: 80px;
  padding: 0px 0px 20px 0px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  color: #000;
  z-index: 1;
}

.header.header-scrolled{
	background-color: rgb(255,255,255, 0.9);
  z-index: 2;
}

.nav-menu li {
	margin-left: 10px;
	position: relative;
	white-space: nowrap;
	display: inline-block;
	cursor: pointer;
}

.nav-menu #nav-login,
.nav-menu #nav-signup{
  padding: 10px;
  border-radius: 5px;
  background: none;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 3px;
  transition: all 0.3s ease-in-out;
}

.nav-menu #nav-login:hover,
.nav-menu #nav-signup:hover{
  background: #FF5A5F;
  color: #fff !important;
}

.nav-menu #nav-active{
  padding: 10px;
  border-radius: 5px;
  background: #FF5A5F;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 3px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 600px){
  .nav-menu #nav-active{
    display: none;
  }

  .nav-menu #nav-login,
  .nav-menu #nav-signup{
    display: none;
  }

}

/* BANNER */
.banner{
   background: linear-gradient(180deg, rgb(255,255,255, 0), rgb(15,32,39, 1)) , url('../img/25.jpg') no-repeat;
   /* background: url('../img/sh.jpg') no-repeat; */
   background-size: cover;
   background-attachment: fixed;
}

.banner-content {
	display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.banner-content h1{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: normal;
  text-align: center;
}

@media screen and (max-width: 600px){
  .banner-content h1{
    font-size: 22px;
  }
}

.banner-content h1 .banner-logo{
  font-family: 'Rubik Mono One', sans-serif;
  font-style: italic;
  letter-spacing: -5px;
}

.scroll{
  position: absolute;
  bottom: 35px;
  animation: action 0.5s infinite alternate;
  z-index: 9;
}

.scroll img{
  width: 75px;
  transition: all 0.3s ease-in-out;
}

.scroll img:hover{
  transform: rotate(20deg);
}

@keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

/* POST */

.main-title-logo{
  color: #FF5A5F;
  font-family: 'Rubik Mono One', sans-serif;
  font-style: italic;
  letter-spacing: -5px;
}

.subtitle-post{
  letter-spacing: 5px;
  color: #484848;
  font-size: 26px;
  margin-top: 75px;
  margin-bottom: 0;
  text-align: center;
}

.main-title-post{
  margin-bottom: 50px;
  letter-spacing: 5px;
  font-size: 16px;
  margin-top: 0;
  font-weight: lighter;
  color: #222;
  text-align: center;
}

.content-post{
  padding-top: 50px;
  padding-bottom: 50px;
}

.content-gambar{
  overflow: hidden;
}

.content-gambar img{
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.content-gambar img:hover{
  transform: scale(0.9);
}

.content-detail{
  padding-top: 35px;
}

.content-detail h1{
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  color: #484848;
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
}

.content-detail p{
  line-height: 20px;
  color: #484848;
  font-size: 13px;
  letter-spacing: 1px;
}

.content-button{
  position: absolute;
  width: 150px;
  background: none;
  border: 3px solid #FF5A5F;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.content-button .btn{
  color: #FF5A5F;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.content-button:hover{
  background: #FF5A5F;
}

.content-button:hover > .btn{
  color: #fff;
}
